p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

.date-time {
    font-size: 14px;
}

.date-time-container {
    border-bottom: 1px dotted black;
    height: 50x;
    text-align: center;
    width: 300px;
}
